@model IEnumerable<CourseManagemnet.Models.tblStudent_info>

@{
    ViewBag.Title = "Index";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 style="text-align:center">Student Information</h2>

<p>
    @Html.ActionLink("Add Student", "Create")
</p>
<table class="table" border="1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cell)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Father_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mother_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Result)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblBatch.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblCourse.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cell)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Father_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mother_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tblBatch.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tblCourse.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Print", "Print", new { id = item.ID })
            </td>
        </tr>
    }

</table>
